<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:with="pageTitle='Impressum - BikeMarket'" th:replace="~{fragments/head-resources :: head}"></th:block>
</head>
<body>
<div class="container mt-5">
    <h1>Impressum</h1>
    <div th:utext="${imprint}">Impressumstext wird hier angezeigt.</div>
</div>
<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
<th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>
</html>